@model DevOps.Domain.Fechamento
@{
    ViewData["Title"] = "FolhaPonto";
}


<h2 class="text-primary">@Model.FolhaPonto.Funcionario.Nome</h2>

<div class="row">
    <div class="col-6">
        <p>Folha de ponto do período entre <b class="text-warning">@Model.FolhaPonto.Inicio.ToString("dd/MM/yy") e @Model.FolhaPonto.Fim.ToString("dd/MM/yyyy")</b></p>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        Entrada
                    </th>
                    <th>
                        Saida
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.FolhaPonto)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.PontoEntrada)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PontoSaida)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-6">
        <h4>Relatório</h4>
        <hr />
        <partial name="_RelatorioHoras" model="@Model.FolhaPonto" />
        <a asp-action="Detalhes" asp-route-id="@Model.FolhaPonto.Funcionario.Id">Voltar</a>
    </div>
</div>
