@model DevOps.Repository.Pagamento

@{
    ViewData["Title"] = "Pagamento";
}

<h2 class="text-primary">@Model.Funcionario.Nome</h2>

<div>
    <p>Pagamento do período entre @Model.PontoDigital.Inicio.ToString("dd/MM/yy") e @Model.PontoDigital.Fim.ToString("dd/MM/yyyy")</p>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Salario)
        </dt>
        <dd class="col-sm-10">
            R$ @Model.Salario.ToString("N")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PagoEm)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PagoEm)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Detalhes" asp-route-id="@Model.Funcionario.Id">Voltar</a>
</div>
